<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Assign Instructor'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                <ng-container ktPortletTools>
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
	<form class="kt-form" [formGroup]="assignForm">
		<div class="kt-portlet__body">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="form-group kt-form__group row">
				<div class="col-lg-6 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Coaching Center" formControlName="coaching_center_id" (selectionChange)="onCenterChange($event)">
							<mat-option *ngFor="let center of coachingCentresList" [value]="center.id">{{center.name}}</mat-option>
						</mat-select>
						<mat-error>Coaching Center
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Batch" formControlName="batch_id" (selectionChange)="onBatchChange($event)">
							<mat-option *ngFor="let batch of selectedBatchList" [value]="batch.id">{{batch.name}}</mat-option>
						</mat-select>
						<mat-error>Batch
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-separator kt-separator--dashed"></div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-6 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Subjects" formControlName="subject_id">
							<mat-option *ngFor="let subject of selectedSubjectsList" [value]="subject.id">{{subject.name}}</mat-option>
						</mat-select>
						<mat-error>Subject
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Instructor" formControlName="id" (selectionChange)="onInstructorChange($event)">
							<mat-option *ngFor="let instructor of instructorList" [value]="instructor.id">{{instructor.user.full_name}}</mat-option>
						</mat-select>
						<mat-error>Instructor
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" [routerLink]="['/locations']" mat-raised-button matTooltip="Cancel">
							Cancel
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" matTooltip="Save">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</kt-portlet-body>
</kt-portlet>
</div>
</div>

